* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecera {
    height: 160px;
    background-color: white;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    color: rgb(0, 157, 149);
}

span {
    color: #e8999f;
}

.menu {
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 157, 149);
    padding: 10px 15px;
    font-size: 20px;
}

.openMenu, .closeMenu {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.loginMenu {
    font-size: 30px;
}

.loginMenu a {
    color: rgb(0, 157, 149);
    padding: 0 20px;
}

@media (max-width: 768px) {
    .menu {
        height: 100%;
        width: 160px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        display: block;
        text-align: center;
    }

    h1 {
        padding: 30px 0;
        font-size: 17px;
    }

    .menu a {
        display: block;
        text-decoration: none;
        color: rgb(0, 157, 149);
        padding: 30px 0px;
        font-size: 16px;
    }

    .menu a:first-child {
        margin-top: 130px;
    }

    .loginMenu {
        margin-right: 120px;
        padding: 0px 0;
        display: flex;
        align-items: center;
        font-size: 18px;
        width: 100px;
        justify-content: space-between;
    }

    .loginMenu a {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .openMenu, .closeMenu {
        display: block;
    }

    .cabecera {
    height: 160px;
    background-color: white;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: .8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .closeMenu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .loginMenu {
        margin: 0;
    }

    .loginMenu a {
        font-size: 18px;
        padding: 0 10px;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}


section {
    background-image: url(./img/buena_resized.PNG);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.skinClub {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #e8999f;
    padding: 20px;
    border-radius: 50px;
    position: fixed;
    top: 820px;
    left: 30px;
}

.chat {
    background-color: #e8999f;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-size: 50px;
    position: fixed;
    top: 820px;
    right: 30px;
}